@media screen and (max-width: 400px) {
  .section__header {
    background: url("../../images/header.jpg") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-filter: grayscale(40%);
            filter: grayscale(40%);
    z-index: 0;
  }
  .section__header--logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    -webkit-box-shadow: 0 2px 4px black;
            box-shadow: 0 2px 4px black;
  }
  .section__header--logo img {
    height: 100%;
    width: 100%;
  }
  .section__header--overlay {
    position: absolute;
    height: 95vh;
    width: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
  }
  .section__header--title-and-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #fff;
    padding: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__header--title-and-desc h1 {
    font-size: 2rem;
    margin: .5rem 0;
  }
  .section__header--title-and-desc hr {
    width: 4rem;
    height: 2px;
    background: #ff4500;
    border: 0;
  }
  .section__header--title-and-desc p {
    color: #666;
    font-size: .9rem;
    margin: .5rem 0;
  }
}

@media screen and (max-width: 400px) {
  .section__projects {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__projects--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f12711;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section__projects--buttons a {
    text-decoration: none;
    font-size: 1.2rem;
  }
  .section__projects--buttons a:hover {
    cursor: pointer;
  }
  .section__projects--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section__projects--item--image-container {
    width: 100vw;
    height: 10rem;
    margin: 2rem 0;
    -webkit-box-shadow: 0 5px 10px #b3b3b3;
            box-shadow: 0 5px 10px #b3b3b3;
  }
  .section__projects--item--image-container--image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section__projects--item--image-container--image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section__projects--item--info {
    margin: 0 2rem;
  }
  .section__projects--item--info h2 {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
  .section__projects--item--info hr {
    margin: 0.5rem 0;
    height: 2px;
    border: 0;
    width: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
    background: linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  }
}

.paragraph__mobile {
  color: #6f6f6f;
  margin: 1rem 0;
}

.paragraph__mobile span {
  color: #ff581a;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 80%;
  font-family: 'Work Sans';
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */