/////////////components///////////
@import "./base/mixins";
@import "./base/variables";
/////////////layout////////////////
@import "./layout/headerMobile";
@import "./layout/projectsMobile";
@import "./layout/skillsMobile";
@import "./layout/ContactMobile";
//////////////utils/////////////////
@import "./utilities/text";
@import "./loader";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 80%;
  font-family: "Work Sans";
  overflow-x: hidden;
}
