
/////////////components///////////
@import "./base/mixins";
@import "./base/variables";
/////////////layout////////////////
@import './layout/headerMobile';
@import './layout/projectsMobile';
@import "./layout/skillsMobile";
//////////////utils/////////////////
@import './utilities/text';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-size:80%;
    font-family:'Work Sans';
    overflow-x:hidden;
}