@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/////////////components///////////
@import './base/mixins';
@import './base/variables';
/////////////layout////////////////
@import './layout/headerMobile';
@import './layout/projectsMobile';
@import './layout/skillsMobile';
@import './layout/ContactMobile';
@import './layout/aboutMobile';
//////////////utils/////////////////
@import './utilities/text';
@import './utilities/animations';
@import './loader';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-size: 80%;
	font-family: 'Raleway';
	overflow-x: hidden;
	background-color: #ffffff;
}
h1,
h2,
h3 {
	font-family: 'Oswald';
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 3rem;
		letter-spacing: 1px;
	}

	p {
		font-family: 'Raleway';
		color: #222;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 2;
		letter-spacing: 1px;
	}
}
