@media screen and (min-width: 601px) {
	.section__about {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		&--grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-auto-rows: repeat(2, 1fr);
			gap: 2rem;
			justify-items: start;
			align-content: center;
			padding: 3rem 1.5rem;
			min-height: 95vh;
			max-width: 60vw;
			& h2 {
				font-size: 4rem;
				color: $orange-color;
				font-weight: 700;
			}
			& p {
				color: #666;
				font-size: 2rem;
				font-weight: 700;
				line-height: 2;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.section__about {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2);
		gap: 2rem;
		justify-items: start;
		align-content: center;
		padding: 3rem 1.5rem;
		min-height: 30vh;
		&--grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-auto-rows: repeat(2, 1fr);
			gap: 2rem;
			& h2 {
				font-size: 2rem;
				color: $orange-color;
				font-weight: 700;
			}
			& p {
				color: #666;
				font-size: 1.2rem;
				font-weight: 700;
				line-height: 2;
			}
		}
	}
}
