@media screen and (max-width: 400px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darken(#f12711, 15%);
    background: -webkit-linear-gradient(
      to right,
      $orange-color,
      $dark-orange
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $orange-color, $dark-orange);
    &--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h2 {
        color: #fff;
        font-family: "Raleway";
        font-weight: 300;
      }
      &--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 5px #931609;
        min-height: 20rem;
        min-width: 80vw;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        &--input-row {
          margin: 1rem 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          &--icon-box {
            background: $dark-orange;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 2.5rem;
            min-width: 2.5rem;
            & i {
              color: #fff;
              font-size: 1.1rem;
              padding: 0.5rem;
            }
          }
          & input {
            border: 1px solid $dark-orange;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all 0.2s ease;
            min-height: 2.5rem;
            width: 100%;
            padding: 0.5rem;
            &:focus {
              outline: none;
              border: 1px solid lighten($dark-orange, 10%);
            }
            &:hover {
              border: 1px solid lighten($dark-orange, 20%);
            }
          }
          & textarea {
            border: 1px solid $dark-orange;
            transition: all 0.2s ease;
            border-radius: 5px;
            padding: 0.5rem;
            width: 100%;
            &:focus {
              outline: none;
              border: 1px solid lighten($dark-orange, 10%);
            }
            &:hover {
              border: 1px solid lighten($dark-orange, 20%);
            }
          }
          & button {
            padding: 1rem 2rem;
            color: #fff;
            background: $dark-orange;
            border: 1px solid $dark-orange;
            transition: all 0.2s ease;
            border-radius: 3px;
            width: 100%;
            &:hover {
              background: lighten($dark-orange, 5%);
              border: 1px solid lighten($dark-orange, 5%);
              cursor: pointer;
            }
            &:active {
              background: lighten($dark-orange, 20%);
              border: 1px solid lighten($dark-orange, 20%);
            }
          }
        }
      }
    }
  }
}
