@media screen and (max-width: 400px) {
  .section__header {
    background: url("../../images/header.jpg") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: grayscale(56%);
    z-index: 0; }
    .section__header--logo {
      z-index: 1;
      margin: 2rem;
      max-width: 8rem;
      max-height: 8rem;
      align-self: center; }
      .section__header--logo img {
        height: 100%;
        width: 100%; }
    .section__header--overlay {
      position: absolute;
      height: 95vh;
      width: 100vh;
      z-index: -1;
      background: rgba(0, 0, 56, 0.5);
      top: 0;
      left: 0; }
    .section__header--title-and-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding: 2rem; }
      .section__header--title-and-desc h1 {
        font-size: 2rem;
        margin: 0.5rem 0;
        text-transform: uppercase;
        font-weight: 300; }
      .section__header--title-and-desc hr {
        width: 4rem;
        height: 2px;
        background: #ff4500;
        border: 0; }
      .section__header--title-and-desc p {
        color: #666;
        font-size: 1rem;
        margin: 0.5rem 0;
        text-transform: uppercase; }
      .section__header--title-and-desc--icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0; }
        .section__header--title-and-desc--icons a {
          text-decoration: none;
          margin: 0 0.2rem;
          transition: all 0.2s ease; }
          .section__header--title-and-desc--icons a:hover {
            box-shadow: 0px 5px 30% #992900; }
          .section__header--title-and-desc--icons a i {
            font-size: 1.4rem;
            background: #f12711;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FF4500, #f12711);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FF4500, #f12711);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease; }
            .section__header--title-and-desc--icons a i:hover {
              background: #f12711;
              /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, #d29209, #c41e0c);
              /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to right, #d29209, #c41e0c);
              /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              cursor: pointer; } }

@media screen and (max-width: 400px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__projects--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 1rem;
      background: #f12711;
      /* fallback for old browsers */
      background: #f12711;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FF4500, #f12711);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FF4500, #f12711);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .section__projects--buttons a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500; }
        .section__projects--buttons a:hover {
          cursor: pointer; }
    .section__projects--item {
      display: flex;
      flex-direction: column;
      margin: 0;
      justify-content: space-around; }
      .section__projects--item--image-overlay {
        height: 100%;
        width: 100%;
        z-index: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        transition: all .3s ease-in-out; }
        .section__projects--item--image-overlay:hover {
          background: rgba(0, 0, 0, 0.35); }
      .section__projects--item--image-container {
        width: 100vw;
        height: 30vh;
        margin: 0rem 0;
        box-shadow: 0 5px 10px #b3b3b3;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .section__projects--item--image-container--image {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all .3s ease; }
          .section__projects--item--image-container--image img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
      .section__projects--item--info {
        margin: 0rem;
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .section__projects--item--info h2 {
          text-transform: uppercase;
          margin: 0.5rem 0;
          color: #fff;
          font-weight: 300;
          font-size: 1.3rem; }
      .section__projects--item--links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
        .section__projects--item--links button {
          width: 5rem;
          height: 2rem;
          border: 1px solid #fff;
          margin: .5rem;
          background: #fff;
          border-radius: 5px;
          color: #666;
          transition: all .3s ease-in-out; }
          .section__projects--item--links button:hover {
            color: #fff;
            background: #FF4500;
            cursor: pointer;
            border: 1px solid #FF4500; } }

@media screen and (max-width: 400px) {
  .section__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    min-height: 20vh; }
    .section__skills--heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: #f12711;
      /* fallback for old browsers */
      background: #f12711;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FF4500, #f12711);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FF4500, #f12711);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .section__skills--heading h2 {
        font-size: 2rem; }
    .section__skills--container {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      min-height: 30rem; }
      .section__skills--container--skill-row--icon-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 .5rem; }
        .section__skills--container--skill-row--icon-block i {
          color: #FF4500;
          font-size: 2.5rem; }
        .section__skills--container--skill-row--icon-block h3 {
          color: #FF4500;
          font-size: 1rem; } }

@media screen and (max-width: 400px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #001c38; }
    .section__contact--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section__contact--container h2 {
        color: #fff;
        font-family: "Raleway";
        font-weight: 300; }
      .section__contact--container--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px #4d4d4d;
        min-height: 20rem;
        min-width: 80vw;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem; }
        .section__contact--container--form--input-row {
          margin: 1rem 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .section__contact--container--form--input-row--icon-box {
            background: #001c38;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 2.5rem;
            min-width: 2.5rem; }
            .section__contact--container--form--input-row--icon-box i {
              color: #fff;
              font-size: 1.1rem;
              padding: 0.5rem; }
          .section__contact--container--form--input-row input {
            border: 1px solid #e1e1e1;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all 0.2s ease;
            min-height: 2.5rem;
            background: #eee;
            width: 100%;
            padding: 0.5rem; }
            .section__contact--container--form--input-row input:focus {
              outline: none;
              border: 1px solid #FF4500; }
            .section__contact--container--form--input-row input:hover {
              border: 1px solid #FF4500; }
          .section__contact--container--form--input-row textarea {
            border: 1px solid #eee;
            background: #eee;
            transition: all 0.2s ease;
            border-radius: 5px;
            padding: 0.5rem;
            width: 100%; }
            .section__contact--container--form--input-row textarea:focus {
              outline: none;
              border: 1px solid #FF4500; }
            .section__contact--container--form--input-row textarea:hover {
              border: 1px solid #FF4500; }
          .section__contact--container--form--input-row button {
            padding: 1rem 2rem;
            color: #fff;
            background: transparent;
            border: 3px solid #001c38;
            transition: all 0.2s ease;
            border-radius: 3px;
            width: 100%;
            text-transform: uppercase;
            color: #001c38;
            letter-spacing: 2px;
            transition: all .3s ease-in-out; }
            .section__contact--container--form--input-row button:hover {
              background: #002951;
              border: 3px solid #002951;
              cursor: pointer;
              color: #fff; }
            .section__contact--container--form--input-row button:active {
              background: #00509e;
              border: 3px solid #00509e;
              color: #fff; } }

.paragraph__mobile {
  color: #6f6f6f;
  margin: 1rem 0; }
  .paragraph__mobile span {
    color: #ff581a;
    text-transform: uppercase; }

p {
  color: #6f6f6f; }

.load--fallback {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff; }
  .load--fallback img {
    max-height: 7rem;
    max-width: 7rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 80%;
  font-family: "Raleway";
  overflow-x: hidden; }
