@media screen and (max-width: 400px) {
  .section__header {
    background: url("../../images/header.jpg") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: grayscale(40%);
    z-index: 0; }
    .section__header--logo {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      margin: 1rem;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      box-shadow: 0 2px 4px black; }
      .section__header--logo img {
        height: 100%;
        width: 100%; }
    .section__header--overlay {
      position: absolute;
      height: 95vh;
      width: 100vh;
      z-index: -1;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0; }
    .section__header--title-and-desc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      color: #fff;
      padding: 2rem;
      align-items: center; }
      .section__header--title-and-desc h1 {
        font-size: 2rem;
        margin: 0.5rem 0; }
      .section__header--title-and-desc hr {
        width: 4rem;
        height: 2px;
        background: #ff4500;
        border: 0; }
      .section__header--title-and-desc p {
        color: #666;
        font-size: 0.9rem;
        margin: 0.5rem 0; }
      .section__header--title-and-desc--icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0; }
        .section__header--title-and-desc--icons a {
          text-decoration: none;
          margin: 0 0.2rem;
          transition: all 0.2s ease; }
          .section__header--title-and-desc--icons a:hover {
            box-shadow: 0px 5px 30% #992900; }
          .section__header--title-and-desc--icons a i {
            font-size: 1.2rem;
            background: #f12711;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f5af19, #f12711);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f5af19, #f12711);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease; }
            .section__header--title-and-desc--icons a i:hover {
              background: #f12711;
              /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, #d29209, #c41e0c);
              /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to right, #d29209, #c41e0c);
              /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              cursor: pointer; } }

@media screen and (max-width: 400px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__projects--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #f12711;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f5af19, #f12711);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f5af19, #f12711);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .section__projects--buttons a {
        text-decoration: none;
        font-size: 1.2rem; }
        .section__projects--buttons a:hover {
          cursor: pointer; }
    .section__projects--item {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      justify-content: space-around; }
      .section__projects--item--image-container {
        width: 100vw;
        height: 20vh;
        margin: 2rem 0;
        box-shadow: 0 5px 10px #b3b3b3; }
        .section__projects--item--image-container--image {
          height: 20vh;
          width: 100%;
          object-fit: cover; }
          .section__projects--item--image-container--image img {
            height: 20vh;
            width: 100%;
            object-fit: cover; }
      .section__projects--item--info {
        margin: 0 2rem; }
        .section__projects--item--info h2 {
          text-transform: uppercase;
          margin: 0.5rem 0; }
        .section__projects--item--info hr {
          margin: 0.5rem 0;
          height: 2px;
          border: 0;
          width: 50%;
          background: linear-gradient(to right, #f5af19, #f12711);
          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to right, #f5af19, #f12711); } }

@media screen and (max-width: 400px) {
  .section__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    width: 100vw;
    min-height: 20vh; }
    .section__skills--container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      min-height: 20vh; }
      .section__skills--container--skill-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%; } }

.paragraph__mobile {
  color: #6f6f6f;
  margin: 1rem 0; }
  .paragraph__mobile span {
    color: #ff581a;
    text-transform: uppercase; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 80%;
  font-family: 'Work Sans';
  overflow-x: hidden; }
