@media screen and (max-width: 400px) {
  .section__header {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .section__header--nav {
      background: #ff4500;
      height: 4rem;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 1rem;
      box-shadow: 0 2px 2px #cc3700; }
      .section__header--nav--logo {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        box-shadow: 0 10px 10px #cc3700;
        background: #fff; }
        .section__header--nav--logo img {
          height: 100%;
          width: 100%; }
    .section__header--title-and-desc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2rem; }
      .section__header--title-and-desc p {
        color: #666; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 80%;
  font-family: 'Work Sans'; }
